.bignum {
    width: 80vw;
    height: 80vh;
    font-size: 80vh;
}

.buttons-row1 {
    display: table-row;
}

.buttons-row2 {
    display: table-row;
}

.inc {
    position: relative;
    top: 0.5vh;
    left: 0.5vw;
    height: 4vh;
    width: 4vw;
    display: table-cell;
    border: 5px solid rgba(100,200,100,1);
    background-color: white;
    font-size: 3vh;
    cursor: pointer;
}

.reset {
    position: relative;
    top: 5vh;
    left: 0vw;
    height: 4vh;
    width: 10vw;
    text-justify: centre;
    font-size: 3vh;
    cursor: pointer;
}
